{%extends "base.html"%}
{%block content%}

<div class="container">
    <div class="row ">
        <div class="col-md-2 ">
            <form method="POST">
                <div class="mb-3">
                    <label for="productName" class="form-label">Product name</label>
                    <input type="text" class="form-control" id="productName" name="productName">
                </div>
                <div class="mb-3">
                    <label for="productPrice" class="form-label">Product price</label>
                    <input type="number" class="form-control" id="productPrice" name="productPrice">
                </div>
                <div class="mb-3">
                    <label for="imageLink" class="form-label">Product image link</label>
                    <input type="text" class="form-control" id="imageLink" name="imageLink">
                </div>
                <button type="submit" class="btn btn-dark">Add product</button>
            </form>
        </div>

        <div class="col-md-10">
            <div class="row">
                {% for product in products%}
                <div class="col-md-4 ">
                    <div class="card" style="width: 18rem;">
                        <img src="{{product.image}}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            </h5>
                            <p class="card-text">{{product.price}} RON</p>
                            <button type="button" class="btn-dark" onClick="deleteProduct({{product.id}})">Delete
                                product</button>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>

    </div>
</div>
{%endblock%}